[submodule "themes/hugo-smpl-theme"]
  path = themes/hugo-smpl-theme
  url = https://github.com/christianmendoza/hugo-smpl-theme
[submodule "themes/airspace-hugo"]
	path = themes/airspace-hugo
	url = git@github.com:themefisher/airspace-hugo.git
